health-test-flow.json
[
  {
    "id": "health-test-tab",
    "type": "tab",
    "label": "Health Node Test",
    "disabled": false,
    "info": "Test flow to verify health node only emits one ConnectionStatus message"
  },
  {
    "id": "controller-node",
    "type": "openhab4-controller",
    "protocol": "http",
    "host": "localhost",
    "port": "8080",
    "username": "",
    "password": ""
  },
  {
    "id": "health-node",
    "type": "openhab4-health",
    "z": "health-test-tab",
    "name": "Health Monitor",
    "controller": "controller-node",
    "x": 200,
    "y": 200,
    "wires": [
      ["debug-status"],
      ["debug-error"],
      ["debug-raw"]
    ]
  },
  {
    "id": "debug-status",
    "type": "debug",
    "z": "health-test-tab",
    "name": "Status Messages",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 450,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug-error",
    "type": "debug",
    "z": "health-test-tab",
    "name": "Error Messages",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 450,
    "y": 200,
    "wires": []
  },
  {
    "id": "debug-raw",
    "type": "debug",
    "z": "health-test-tab",
    "name": "Raw Events",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 450,
    "y": 240,
    "wires": []
  }
]
